footer1{
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: aqua;
}
#face:hover{
  background-color:  rgb(48 115 183);
}
#twitter:hover{
    background-color: rgb(95 145 195);
  }
  #google:hover{
    background:linear-gradient(to right, blue 10%, red 50%, yellow 80% , green 100%) !important; 
  }
  #insta:hover {
    background: linear-gradient(to bottom right, #ff3399 19%, #ff9933 90%);
  }
  #link:hover{
    background-color: rgb(57 111 165);
  }
  .nav-link:hover{
    color: navy !important;
  }
  .nav-item:hover {
    color: navy !important;
  }