body,
html {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 100vh;
}
.the_top_bar {
  display: block;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  color: #fefefe;
  background-color: #000;
  /* font-size: 14px; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-weight: 600;
  text-align: justify;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}
.the_top_bar span {
  padding: 1px;
}
.the_content_arena {
  /* margin-top: 12vh; */
  margin-bottom: 70px;
  /* overflow-y: scroll; */
  min-height: 340px;
  display: inline;
  text-align: center;
}

.the_bottom_bar {
  display: block;
  position: fixed;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
  background-color: #000;
  overflow-y: scroll;
}

.the_left_bar {
  display: block;
  background-color: #bebebe;
  overflow: hidden;
  height: 80vh;
  text-align: left;
  max-width: 20%;
  /* white-space: nowrap;
	scrollbar-width: none;
	-ms-overflow-style: none; */
}

/* width */
.the_left_bar::-webkit-scrollbar {
  width: 7px;
  background-color: #cacdf3;
}

/* Track */
.the_left_bar::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px red;
  padding: 2px;
  border-radius: 10px;
}

/* Handle */
.the_left_bar::-webkit-scrollbar-thumb {
  background: #000a8b;
  border-radius: 10px;
}

/* Handle on hover */
.the_left_bar::-webkit-scrollbar-thumb:hover {
  background: rgb(132 131 211);
}
.the_left_bar:hover {
  overflow: scroll;
}
.the_right_bar {
  float: right;
  display: block;
  max-width: 20%;
  background-color: #bebebe;
  overflow: hidden;
  height: 80vh;
  text-align: left;
}

.the_right_bar::-webkit-scrollbar {
  width: 7px;
  background-color: #cacdf3;
}

/* Track */
.the_right_bar::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px yellow;
  padding: 2px;
  border-radius: 10px;
}

/* Handle */
.the_right_bar::-webkit-scrollbar-thumb {
  background: #000a8b;
  border-radius: 10px;
}

/* Handle on hover */
.the_right_bar::-webkit-scrollbar-thumb:hover {
  background: rgb(132 131 211);
}
.the_right_bar:hover {
  overflow: scroll;
}

.the_panel_selector {
  max-width: 95%;
  min-width: 60%;
}
.each_item + .each_item{
	margin-top: 4px;
}

.the_selected_displayer .each_item {
  overflow-x: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
}
.the_selected_displayer .each_item:hover {
  overflow-x: scroll;
}

.the_selected_displayer .each_item label{
	width: 80px;
	text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  margin-top: 4px;
  vertical-align: bottom;
}

.the_selected_displayer .each_item label:hover{
	  overflow: visible; 
    white-space: normal;
    height:auto;
}

.the_selected_displayer .each_item .the_input_side{
  width: 180px;

}

.the_bottom_bar .the_bottom_elems {
  border-radius: 12px;
  border: 2px solid #432424;
  background-color: #000;
  display: inline-block;
  position: static;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

.the_bottom_bar .the_bottom_elems_block {
  border-radius: 12px;
  border: 2px solid #432424;
  background-color: green;
  display: inline-block;
  position: static;
  color: #fff;
  padding: 8px;
  cursor: pointer;
}

.the_panel_submitter {
  padding: 13px;
  display: block;
  background-color: darkblue;
  color: #fedfed;
  border-radius: 12px;
  font-weight: bold;
}

.the_add_child_button {
  padding: 13px;
  display: block;
  background-color: green;
  color: #fedfed;
  border-radius: 12px;
  font-weight: bold;
}

.the_dev_body {
  background-color: #fff;
  color: #000;
  border: 2px solid #940948;
  height: 80vh;
  max-width: 60%;
  display: inline-block;
  text-align: left;
  overflow: scroll;
  /* margin-left: 25%; */
}

.the_dev_body::-webkit-scrollbar {
  width: 7px;
  background-color: #cacdf3;
}

/* Track */
.the_dev_body::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(185, 98, 15, 58.2%);
  padding: 2px;
  border-radius: 10px;
}

/* Handle */
.the_dev_body::-webkit-scrollbar-thumb {
  background: #000a8b;
  border-radius: 10px;
}

/* Handle on hover */
.the_dev_body::-webkit-scrollbar-thumb:hover {
  background: #a4a3d6;
}
.the_dev_body:hover {
  overflow: scroll;
}

.theTextPopUp {
  width: 50%;
  height: auto;
  padding: 15px;
  background-color: #000a8b;
  color: blue;
  border-radius: 12px;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 1;
  text-align: center;
  vertical-align: center;
  display: none;
}

.theTextPopUp input {
  width: 80%;
  padding: 15px;
  border-radius: 12px;
}

.theTextPopUp textarea {
  width: 80%;
  padding: 15px;
  border-radius: 12px;
}

.theTextPopUp button {
  width: 80%;
  padding: 15px;
  background-color: #fff;
  color: #000;
}

.theTextPopUp button:hover {
  width: 80%;
  padding: 15px;
  background-color: green;
  color: #fefefe;
}

/* Style The Dropdown Button */
.dropbtn {
  /* background-color: #4CAF50; */
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  background-color: transparent;
  position: relative;
  display: inline-block;
  z-index: 999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  color: wheat;
}

.dropdown-content span .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.dropdown-content span:hover .tooltiptext {
  visibility: visible;
  /* top: -5px;
    left: 105%; */

  /* Left
	top: -5px;
    right: 105%; */

  /* Top
	width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; */
}

/* At the bottom of the tooltip */
.dropdown-content span .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* At the bottom of the tooltip */
/* .dropdown-content span .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
} */

/*  To the left of the tooltip */
/* .dropdown-content span .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;  
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
} 1200 */

@media screen and (min-width: 0px) {
  .the_left_bar {
    display: none;
    max-width: 100%;
    width: 100%;
    position: fixed;
  }
  .left_bar_restore {
    display: block;
  }

  .the_right_bar {
    display: none;
    max-width: 100%;
    width: 100%;
    position: fixed;
  }
  .right_bar_restore {
    display: block;
  }

  .the_dev_body {
    max-width: 100%;
    width: 100%;
  }

  .the_top_bar {
    height: 50px;
  }

  .the_top_bar .dropdown {
    display: none;
  }

  .the_top_bar span {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 960px) {
  .the_left_bar {
    display: block;
    position: static;
    max-width: 20%;
    float: left;
  }
  .left_bar_restore {
    display: none;
  }

  .the_right_bar {
    display: none;
    position: static;
    max-width: 20%;
    float: right;
  }
  .right_bar_restore {
    display: block;
  }

  .the_dev_body {
    max-width: 80%;
  }

  .the_top_bar {
    height: 50px;
  }

  .the_top_bar .dropdown {
    background-color: transparent;
    position: relative;
    display: inline-block;
  }

  /* .the_top_bar span{
		position: relative;
    	display: inline-block;
		padding: 10px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	} */
}

@media screen and (min-width: 1200px) {
  .the_left_bar {
    display: block;
    position: static;
    max-width: 20%;
    float: left;
  }
  .left_bar_restore {
    display: none;
  }

  .the_right_bar {
    display: block;
    position: static;
    max-width: 20%;
    float: right;
  }
  .right_bar_restore {
    display: none;
  }

  .the_dev_body {
    max-width: 60%;
  }

  .the_top_bar {
    height: 60px;
  }

  .the_top_bar .dropdown {
    background-color: transparent;
    position: relative;
    display: inline-block;
  }

  .the_top_bar .dropdown span {
    display: block;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* .the_top_bar span{
		position: relative;
    	display: inline-block;
		padding: 10px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	} */
}
.left_bar_restore {
  position: absolute;
  left: 0;
  top: 70px;
  opacity: 0.5;
  padding: 7px;
  background-color: #a4a3d6;
}
.right_bar_restore {
  position: absolute;
  right: 0;
  top: 70px;
  opacity: 0.5;
  padding: 7px;
  background-color: #a4a3d6;
}

/* pop up for the settings sections */
.the_settings_section {
  width: 60%;
  position: fixed;
  display: none;
  top: 20%;
  left: 20%;
  background-color: rgb(6, 194, 175, 0.9);
  padding: 12px;
  border-radius: 12px;
  text-align: center;
}

.the_settings_section .setting_item {
  padding: 12px;
}

.the_settings_section .settings_body {
  background-color: rgb(6, 194, 175, 0.5);
  width: 50%;
  position: fixed;
  left: 25%;
  border-radius: 12px;
}

.the_settings_section .settings_body .the_save_button {
  padding: 12px;
  width: 280px;
  background-color: blue;
  color: #fff;
  font-weight: bold;
}
.the_chief_icon {
  width: 60%;
  max-height: 65vh;
  position: fixed;
  display: none;
  top: 15%;
  left: 20%;
  background-color: rgb(6, 194, 175, 0.9);
  padding: 12px;
  border-radius: 12px;
  text-align: center;
}

.the_chief_icon .the_icon_headings {
  padding: 12px;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.the_icon_headings::-webkit-scrollbar {
  height: 5px;
  background-color: #cacdf3;
}

/* Track */
.the_icon_headings::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(185 98 15 58.2%);
  padding: 2px;
  border-radius: 10px;
}

/* Handle */
.the_icon_headings::-webkit-scrollbar-thumb {
  background: #000a8b;
  border-radius: 10px;
}

/* Handle on hover */
.the_icon_headings::-webkit-scrollbar-thumb:hover {
  background: #a4a3d6;
}

.the_chief_icon .the_icon_headings:hover {
  overflow: scroll;
}

.the_icon_headings .the_icon_header_ {
  padding: 12px;
  border-radius: 9px;
  background-color: #f9f9f9;
  margin: 5px;
}

.the_icon_headings .icon_header_selected {
  padding: 12px;
  border-radius: 9px;
  background-color: #000;
  color: #fff;
}

.labeled_search_input {
  width: 80%;
  margin: 5px;
}
.cla_icon_search {
  padding: 7px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.the_icon_displayer {
  display: block;
  /* background-color: blue; */
  height: 35vh;
  overflow-y: scroll;
}

.the_icon_displayer .individual_icon {
  width: 30%;
  background-color: #bebebe;
  display: inline-block;
  padding: 12px;
  border-radius: 7px;
  border: 3px solid #ac9a9a;
  margin: 5px;
}
.the_icon_displayer .individual_icon .icon_label {
  display: block;
}

/* the pop-up frames style */
.the_chief_adders {
  width: 60%;
  max-height: 65vh;
  position: fixed;
  display: none;
  top: 15%;
  left: 20%;
  background-color: rgba(162, 226, 220, 0.9);
  padding: 12px;
  border-radius: 12px;
  text-align: center;
}

.the_chief_adders .the_adders_headings {
  padding: 12px;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.the_adders_headings::-webkit-scrollbar {
  height: 5px;
  background-color: #cacdf3;
}

/* Track */
.the_adders_headings::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(185 98 15 58.2%);
  padding: 2px;
  border-radius: 10px;
}

/* Handle */
.the_adders_headings::-webkit-scrollbar-thumb {
  background: #000a8b;
  border-radius: 10px;
}

/* Handle on hover */
.the_adders_headings::-webkit-scrollbar-thumb:hover {
  background: #a4a3d6;
}

.the_chief_adders .the_adders_headings:hover {
  overflow: scroll;
}

.the_adders_headings .the_adder_header_ {
  padding: 12px;
  border-radius: 9px;
  background-color: #f9f9f9;
  margin: 5px;
}

.the_adders_headings .adder_header_selected {
  padding: 12px;
  border-radius: 9px;
  background-color: #000;
  color: #fff;
}

.pop-up {
  color: black;
  background-color: white;
  border-color: 2px solid black;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
  cursor: default;
}

.active {
  opacity: 1;
}

/*media queries for settings body*/
@media only screen and (max-width: 900px){
	
	.the_settings_section .settings_body{
		left: 10%;
		width: 80%;
		top: 24%;

	}
	.settings_body ul{
		margin-bottom:1%;
		padding-left: 9%;
	}
	.the_settings_section .setting_item {
		padding:2%;
	}
	#the_settings_section_page{
	top: 18%;
    left: 12.5%;
		width: 75%;
    padding: 2%;	
	}
	.the_input_side{
		display: block; 
		margin:auto; 
	}
	.the_settings_section .settings_body .the_save_button{
		width: 40%;
		padding: 2%;

	}
}
