/* jumbotron------------------------------------------- */
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 120px;
    color: inherit;
    background-color: #217de6;
    text-align: center;
    color: #fff;
  }
  
  /* Color ---------------------------------------------- */
  
  :root {
      --color-input: #68c8ee;
    }
    
    /* Box Sizing ----------------------------------------- */
    
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    /* Text, Tag Style ------------------------------------ */
    
    h1 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.3;
    }
    a, li {
      text-decoration: none;
      list-style: none;
    }
    p, span {
      font-weight: 300;
      font-size: clamp(0.8rem, 4vw, 1.4rem);
    }
    body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background-color: rgb(253, 249, 249);
      color: rgb(255, 255, 255);
      min-height: 100vh;
      display: grid;
    }
    
    /* Spacing -------------------------------------------- */
    
    .margin-bottom {
      margin-bottom: 1rem;
    }
    
    /* Text Style ----------------------------------------- */
    
    .text-lg {
      font-size: clamp(1.2rem, 8.8vw, 2.8rem);
      font-weight: 600;
      color: rgb(0, 0, 0);
    }
    .text-md {
      font-size: clamp(0.8rem, 5vw, 1.6rem);
      font-weight: 400;
      line-height: 1.3;
    }
    .text-center {
      text-align: center;
    }
    .btn{
      
      background-color: #217de6; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      text-align: center;
    }
    
      
  
    
    
    /* FAQ styles */
    .faq-container {
      margin: 0 auto;
      max-width: 800px;
      margin-top: 16px;
    margin-top: 1rem;
    }
    .faq {
      margin-bottom: 0px;
    }
    .question-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #33CEFF;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.7s ease;
    }
    .question-container:hover {
      background-color: #33CEFF;
    }
    .question-container:hover .toggle-btn {
      background-color: #3368FF;
    }
    .answer {
      padding: 0px 20px;
      background-color: #3368FF;
      color: #fff;
      overflow: hidden;
      transition: 0.3s ease, opacity 0.3s ease;
      max-height: 0;
    }
    .toggle-btn {
      min-width: 30px;
      min-height: 30px;
      border-radius: 50%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.6s ease;
    }
    .toggle-btn p {
      margin: 0;
      font-size: 25px;
      color: #fff;
      transition: transform 0.3s ease, opacity 0.3s 300ms;
    }
    .toggle-btn p.rotate {
      transform: rotate(45deg);
    }
    .answer.visible {
      max-height: 200px;
      opacity: 1;
      margin: 0;
      padding: 20px 20px;
    }
    
    /* Media Query --------------------------------------- */
    
    @media (320px <= width <= 940px) {
      .faq-content p {
        margin: 1rem;
      }
    }
    
    @media (320px <= width <= 480px) {
      .container {
        padding: 1rem;
      }
    }
    
    @media (min-width: 2048px) {
      .container {
        zoom:2;
      }
    }
    
  
  
    /* A simple reset. */
  *,::before,::after {
    margin: 0;
    box-sizing: border-box;
  }
    
  /* Heydon Pickering’s lobotomized owl. Details: https://bit.ly/1H7MXUD */
  
  /* Set up fonts, colors and all that jazz. */
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Headings use a different font because they’re hipsters. */
  h1,h2 {
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 300;
    line-height: 1.125;
  }
  h3{
    color: black;
  }
  .demo {font-size: 12px; font-family: Lato, sans-serif; color:black;}
  /* Set up general layout rules for outer containers. */
  .content,.results {
    width: 90vw;
    max-width: 550px;
    margin: 8vh auto;
  }
  
  .content__heading {font-size: 125%;
  }
  
  .content__lede {margin-top: 8px;margin-top: 8px;margin-top: 0.5rem;font-size: 87.5%;
  }
  
  .results__heading {font-size: 110%;
  }
  
  .results__display-wrapper {margin-top: 16px;margin-top: 16px;margin-top: 1rem;padding: 8px 16px;padding: 8px 16px;padding: 0.5rem 1rem;background: #f9fdfe;border: 1px solid #cdcfcf;overflow-x: scroll;
  }
  
  .contact-form {
    position: relative;
    display: block;
    margin: 0;
    padding: 16px 0 32px;
    padding: 16px 0 32px;
    padding: 1rem 0 2rem;
    border-top: 1px solid #cdcfcf;
    border-bottom: 1px solid #cdcfcf;
    overflow: hidden;
  }
  
  .contact-form__input-group {margin-top: 4px;margin-top: 4px;margin-top: 0.25rem;padding: 8px 16px;padding: 8px 16px;padding: 0.5rem 1rem;
  }
  
  .contact-form__label {display: block;color: #414643;font-family: Lato, sans-serif;font-size: 75%;line-height: 1.125;
  }
  
  .contact-form__label--checkbox-group {display: inline-block;margin-right: 16px;margin-right: 16px;margin-right: 1rem;font-size: 75%;
  }
  
  .contact-form__label--checkbox,.contact-form__label--radio {display: inline-block;margin-left: 4px;margin-left: 4px;margin-left: 0.25rem;
  }
  
  .contact-form__input {display: block;margin-top: 0;padding: 8px 12px;padding: 8px 12px;padding: 0.5rem 0.75rem;border: 1px solid #cdcfcf;width: 100%;font-family: 'Open Sans', sans-serif;font-size: 16px;font-size: 16px;font-size: 1rem;-webkit-transition: 150ms border-color linear;transition: 150ms border-color linear;
  }
  
  .contact-form__input--checkbox,.contact-form__input--radio {display: inline-block;width: auto;
  }
  
  .contact-form__input--checkbox~.contact-form__input--checkbox, .contact-form__input--radio~.contact-form__input--radio {margin-left: 16px;margin-left: 16px;margin-left: 1rem;
  }
  
  .contact-form__input:focus,.contact-form__input:active {border-color: #686a69;outline: 0;
  }
  
  .contact-form__button {display: block;margin: 8px 16px 0;margin: 8px 16px 0;margin: 0.5rem 1rem 0;padding: 0 16px 2px;padding: 0 16px 2px;padding: 0 1rem 0.125rem;background-color: #686a69;border: 0;color: #f9fdfe;font-family: lato, sans-serif;font-size: 100%;letter-spacing: 0.05em;line-height: 1.5;text-transform: uppercase;-webkit-transition: 150ms all linear;transition: 150ms all linear;
  }
  .contact-form__button:hover,.contact-form__button:active,.contact-form__button:focus {background: #2a2f2c;cursor: pointer;outline: 0;
  }