
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
	--logoColor: #eb4458;
	--slate100: #f1f5f9;
	--slate700: #334155;
	--amber300: #fcd34d;
	--rose050: #fff1f3;
	--rose100: #ffe4e6;
	--rose900: #881337;
	--purple700: #7e22ce;
	--poppins: 'Poppins', sans-serif;
	--borderRadius10: 10px;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: var(--poppins);
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 850px;
	width: 100%;
}

header {
	height: 100px;
}

.page-title {
	text-transform: uppercase;
  font-size: 2rem;
	margin-bottom: 2rem;
}

.section {
	background: var(--rose050);
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: var(--borderRadius10);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-header {
	font-size: 1.25rem;
	font-weight: 700;
}

.edit-icon {
	font-size: 1rem;
	font-weight: 700;
	border: none;
}

.profile-pic-container {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid var(--logoColor);
	width: 175px;
	height: 175px;
	margin: auto;
	margin-bottom: 2rem;
}

img.profile-pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 1;
	transition: opacity 500ms ease 0s;
}

.user-details {
	text-align: center;
}

.username {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: .5rem;
}

.user-title {
	color: var(--logoColor);
}

.user-description {
	font-style: italic;
	margin: 1.5rem 1.5rem 2.5rem 1.5rem;
	position: relative;
}

.quote {
	color: var(--amber300);
	font-size: 1.75rem;
	position: absolute;
}

.quote-left {
	top: -1rem;
	left: -2rem;
}

.quote-right {
	bottom: -1rem;
	right: -2rem;
}

.user-extras {
	background: var(--rose100);
	padding: 1rem;
	border-radius: var(--borderRadius10);
	max-width: 650px;
	margin: auto;
}

.user-skills {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.tag {
	background: white;
	border-radius: var(--borderRadius10);
	padding: 5px 10px;
	margin: 5px;
	color: var(--logoColor);
	box-shadow: 0 2px 2px var(--logoColor);
}
