*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;background-color: rgb(21, 21, 78);

}
.card{
    position: relative;
    width: 350px;
    height: 550px;
    background: #304683;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 1px 1px 10px #000;
  
}

.image{
    position: relative;
    height: 290px;
    width: 350px;
    padding: 10px;
    
}
.image .profile-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.text-data h3{
    color: aliceblue;
    padding: 15px;
    font-size: 25px;
    margin-left: 10px;
    text-align:start;
    font-weight: 700;
    text-decoration: underline #e2dbdb;
}
.text-data p{
    margin-left: 15px;
    padding: 15px;
    font-size: 19px;
    text-align: center;
    font-weight: 200;
    color: rgb(196, 196, 196);
    border-bottom: 2px solid  #242439;
    padding-bottom: 80px;
    margin-right: 15px;
}
.text-data h4{
    font-size: 15px;
    margin: 17px;
    font-weight: 500;
    color: #dcdee3;
    margin-left: 80px;
}